name: build

on: [push]

jobs:
  build:

    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v1
    - name: install dependencies
      run: |
        sudo apt-get update -y
        sudo apt-get install -y libxi-dev x11-xserver-utils
        sudo apt-get install -y libavcodec-dev libavformat-dev libswscale-dev libavutil-dev
        sudo apt-get install -y libsoundio-dev
        sudo apt-get install -y libudev-dev libevdev-dev
        sudo apt-get install -y build-essential libgtk2.0-dev
    - name: linux portable build
      run: |
        mkdir Build
        cd Build
        cmake .. -DLINUX_LOCAL_DEV=true
        make
        cp -r ../Data/Sys/ Binaries/
        touch Binaries/portable.txt
