name: build

on: [push]

jobs:
# # Linux build job
# build_linux:
#   name: Building on Ubuntu
#   runs-on: ubuntu-latest
#   steps:
#   - uses: actions/checkout@v1
#   - name: Install dependencies
#     run: |
#       sudo apt-get update -y
#       # Needed to package up the files
#       sudo apt install -y zip
#       # List of dependencies: https://wiki.dolphin-emu.org/index.php?title=Building_Dolphin_on_Linux
#       sudo apt install -y cmake pkg-config git libao-dev libasound2-dev libavcodec-dev libavformat-dev libbluetooth-dev libenet-dev libgtk2.0-dev liblzo2-dev libminiupnpc-dev libopenal-dev libpulse-dev libreadline-dev libsfml-dev libsoil-dev libsoundtouch-dev libswscale-dev libusb-1.0-0-dev libwxbase3.0-dev libwxgtk3.0-dev libxext-dev libxrandr-dev portaudio19-dev zlib1g-dev libudev-dev libevdev-dev "libpolarssl-dev|libmbedtls-dev" libcurl4-openssl-dev libegl1-mesa-dev libpng-dev qtbase5-private-dev
#   - name: Build Linux
#     run: |
#       mkdir Build
#       cd Build
#       cmake .. -DLINUX_LOCAL_DEV=true
#       make
#       cp -r ../Data/Sys/ Binaries/
#       touch Binaries/portable.txt
#   - name: Persist artifacts
#     uses: actions/upload-artifact@v1
#     with:
#       name: Dolphin-linux
#       path: Build/Binaries

  # Mac build job
  build_mac:
    name: Building on Mac
    runs-on: macOS-latest
    steps:
    - uses: actions/checkout@v1
    - name: Install MacOS dependencies
      run: |
        sudo mkdir -p "/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs"
        cd "/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs"
        sudo wget "https://github.com/phracker/MacOSX-SDKs/releases/download/MacOSX10.11.sdk/MacOSX10.11.sdk.tar.xz"
        sudo tar -xJf "MacOSX10.11.sdk.tar.xz"
        # sudo rm "MacOSX10.11.sdk.tar.xz"
        # ls "/Applications/Xcode.app/Contents/Developer/Platforms/MacOSX.platform/Developer/SDKs"
        brew install wxmac libquicktime
    - name: Build MacOS
      run: |
        mkdir build
        cd build
        cmake ..
        make
    - name: Persist artifacts
      uses: actions/upload-artifact@v1
      with:
        name: Dolphin-mac
        path: build/Binaries
